body{
 max-width:40em;
 margin:0 auto;
 padding:5px;
 font-family:Georgia, serif;
 font-size:20px;
 line-height:30px;
 color:#000;
}
h1 {
 font-family:Georgia, serif;
 font-weight:normal;
 font-size: 45px;
}
h2 {
 font-family:Georgia, serif;
 font-weight:normal;
 font-size: 38px;
}
h3 {
 font-family:Georgia, serif;
 font-weight:normal;
 font-size: 28px;
 margin-bottom: -13px;
}
A:LINK {
 color : blue;
 text-decoration: underline
}
A:VISITED {
 color : red;
 text-decoration: underline
}
